h1 { margin: 15px;
    text-align: center;
    font-family:'Times New Roman', Times, serif ;
    font-size: 50px;
    color:lightslategray
}

h4 { margin: 15px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: lightsteelblue;
}
h3 {
    margin: 15px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size:30px;
    color: lightsteelblue;
}

p {  margin: 15px;
    text-indent: 50px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: lightslategray;
}

img {margin: 15px;
    border-radius: 50%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 20%
}

body {
    margin:15px;
    background-color: antiquewhite;

} 

.header {
    margin:15px;
    padding: 10px;
    text-align: center;
    background-color: beige;
    font-size: 20px;
}
ul {
    margin: 15px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: lightslategray;

}

.links {
    text-decoration: none;
    font-size: 20px;
    text-align: center;

}
a {
    text-decoration: none;
    outline: none;

}

